<h2 class = "current-category"><%= params[:category] %></h2>
<% if @books.count == 0 %>
  <h2>There are no books in this category!</h2>
<% else %>
  <div class="row">
      <% @books.each do |book| %>
        <div class="col-md-3">
          <% if book.avatar.url %>
            <%= link_to image_tag(book.avatar.url, class: "book"), book_path(book) %>
          <% else %>
            <%= link_to image_tag('/assets/default.jpg'), book_path(book) %>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>
